h1 {
  color: black;
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
}
h3 {
  color:black;
  text-align: center;
  font-family: sans-serif;
  font-weight: 300;
}
h2 {
  /*  text-align: center;
    font-size: small;
    font-family: sans-serif;
    color: white; */
    padding-top: 20%;
    padding-right: 70px;
    padding-left: 70px;
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 100;
  color: white;
}
.top-menu a, li {
  text-decoration: none;
  color: white;
  display: block;
  text-align: right;
  float: right;
  list-style-type: none;
  margin: 2px;
  overflow: hidden;
  padding-right: 5%;
/*  float: left;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  overflow: hidden; */
}
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: black;
  font-size: 30px;
  background-image: url("../assets/backgrounds/h_img.jpg");
}
.header-fashion {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: black;
  font-size: 30px;
  background-image: url("../assets/backgrounds/h_img.jpg");
}
.about-section {
  padding: 60px;
  text-align: center;
  font-size: 20px;
  background: lightgrey;
}
.services-section {
  padding: 60px;
  text-align: center;
  font-size: 20px;
  background-image: url("../assets/backgrounds/art.jpg")
  color: black;
}
.what-we-do-section {
  text-align: center;
  color: black;
  background-color: lightgrey;
  font-style: normal;
  font-family: sans-serif;

}
h5 {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: lighter;
  margin-top: 0px;
}
h4 {
  color:black;
  text-align: center;
  font-family: sans-serif;
  font-weight: 300;
}
h6 {
  font-size: medium;
  text-align: center;
  background-color: lightgrey;
}
input[type=text] {
  border: 3px, solid #F2D2BD;
  width: 40%;
}
/*form */
.form {
  text-align: center;
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 700px;
  padding: 20px;
  width: 800px;
  text-align: center;

}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  // outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

 */
.portfolio-section {
  background-color: lightgrey;
  margin-right: -10px;
  margin-left: -10px;
  padding: 60px;
}
.featured-artists {
  background-color: lightgrey;
  margin-right: -10px;
  margin-left: -10px;
  padding: 60px;
      height: 20%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  position: relative;
      background-image: url("../assets/backgrounds/about.jpg");
}
/* Slideshow container */
.slideshow-container {
  padding: 60px;
  text-align: center;
  font-size: 20px;
  background: pink;
}
fieldset {
border-color: pink;
margin-left: 70px;
margin-right: 70px;
  padding-top: 2%;

}

/* Caption text
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
*/

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.10s ease;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

input[type=text] {
  width: 50%;
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
social_1 {
  text-align: left;
}
social_2 {
  text-align: right;
}
.categories {
  padding-right: : 10px;
  text-align: left;
  font-size: 40px;

}
.contact-us-section {

  background-image: url("../assets/backgrounds/c_image.jpg");
}
  table {
   width: 100%;

    border-spacing: 15px;
  }
  tr {
    border-top: 10px;
  }
  td {

     border-bottom: 2px solid #ddd;
  }
  .profile-row1, .profile-row2 {
    background-color: #F2D2BD;
  }
  td {
    background-color: #F88379;
  }
  table, td {
    border: 2px solid black;
padding: 15px;

}
}
.footer {
  text-align: center;
}
